<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>0928ZJ心跳.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4B2C85F91BB97D0E00A8335E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B2C86121BB97D0F00A8335E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4B2C861D1BB97D0F00A8335E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
